<div class="panel panel-default">
    <div class="panel-heading">
        <i class="fa fa-bar-chart-o fa-fw"></i> Profesores de {{department.name}}
    </div>
    <!-- /.panel-heading -->
    <div class="panel-body">
        <div class="row">
            <div class="table-responsive">
                <table class="table table-bordered table-hover table-striped">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Nombre</th>
                            <th>Categoria</th>                            
                            <th>Extension</th>
                            <th>Email</th>
                            <th>WebPage</th>
                        </tr>
                    </thead>
                    <tbody>
                         {% for t in teachers_list %}
                             <tr>
                                <td></td>
                                <td>{{t.name}}</td>
                                <td>{{t.rangekind}}</td>
                                <td>{{t.extension}}</td>
                                <td>{{t.email}}</td>
                                <td>
                                    {% if t.webpage %}
                                        <a href="{{t.webpage}}" data-toggle="tooltip" title="{{t.webpage}}">Link</a>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.panel-body -->
</div>