<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Directorio de Profesores</h1>
    </div>
</div>

<!-- /.row -->
<div id="departments" class="row">
    <div class="panel panel-default">
        <div class="panel-heading">
            <i class="fa fa-bell fa-fw"></i> Listado de Unidades Academicas
        </div>
        <!-- /.panel-heading -->
        <div class="panel-body">
            <div class="dropdown">
              <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                Listado de Unidades Academicas
                <span class="caret"></span>
              </button>
              
              <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                {% for d in departments_list %}
                    <li>
                        <a href="javascript:view_teachers('{{ d.name }}', '{{ d.url }}');" >{{d.name}}</a>
                    </li>
                {% endfor %}
              </ul>

            </div>
        </div>
        <!-- /.panel-body -->
    </div>
</div>
<div id="teachers_div" class="row">
    {% include "taller01app/teachers_list.html" %}
</div>
